:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-color: #2f303a;
  --button-hover-color: #188ce8;
  --button-portfolio-color: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);

  --tipical-margin: 30px;
  --tipical-padding: 94px;
  --border-color: 1px solid #eeeeee;
}

body {
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-content {
  padding-top: var(--tipical-padding);
  padding-bottom: var(--tipical-padding);
}

/* -----------------------------HEDER--------------------------- */
.header {
  background-color: var(--white-color);
  border-bottom: var(--border-color);
}

.header-box {
  display: flex;
  align-items: center;
}

.header-logo,
.footer-logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.first-logo {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.studio,
.portfolio {
  color: var(--accent-color);
}

.header-contact {
  margin-left: auto;
}

.header-mail,
.header-tel {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-tel {
  margin-left: 50px;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* ----------------------------HERO----------------------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-color);
  text-align: center;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  margin-top: var(--tipical-margin);

  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white-color);
  background-color: var(--button-hover-color);
}

/* ------------------------------STUDIO--------------------------- */
.section-studio {
  background-color: var(--white-color);
}

.section-studio-list {
  display: flex;
  margin-left: calc(-1 * var(--tipical-margin));
}

.section-studio-item {
  flex-basis: calc(100% / 4 - var(--tipical-margin));
  margin-left: var(--tipical-margin);
}

.section-studio-subtitle {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-studio-text {
  margin-top: 10px;

  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* -----------------------SECTION PORTFOLIO------------------------- */
.section-portfolio {
  padding-top: 0;
  background-color: var(--white-color);
}
.section-portfolio-list {
  margin-top: 50px;
  display: flex;
  margin-left: calc(-1 * var(--tipical-margin));
}

.section-portfolio-item {
  flex-basis: calc(100% / 3 - var(--tipical-margin));
  margin-left: var(--tipical-margin);
}

/* -----------------------------WORKERS-------------------------- */
.section-workers {
  background-color: var(--button-portfolio-color);
}
.section-workers-list {
  display: flex;
  margin-left: calc(-1 * var(--tipical-margin));
  margin-top: 50px;
}
.section-workers-item {
  flex-basis: calc(100% / 4 - var(--tipical-margin));
  margin-left: var(--tipical-margin);

  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-workers-content {
  padding: var(--tipical-margin);
}

.section-workers-subtitle,
.section-workers-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-workers-subtitle {
  color: var(--title-color);
  font-weight: 500;
}

.section-workers-text {
  margin-top: 10px;
}

/* ----------------------------CONTACTS----------------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color);
}
.footer-logo {
  color: var(--white-color);
}

.contacts {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts-list {
  margin-top: 20px;
}

.contacts-item:not(:first-child) {
  margin-top: 9px;
}

.footer-mail,
.footer-tel {
  color: var(--rgba-color);
}

.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* ______________________________PORTFOLIO___________________________ */
.portfolio {
  background-color: var(--white-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;

  color: var(--title-color);
  background-color: var(--button-portfolio-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--tipical-margin));
  margin-top: calc(-1 * var(--tipical-margin));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--tipical-margin));
  margin-left: var(--tipical-margin);
  margin-top: var(--tipical-margin);
}

.portfolio-content {
  padding: 20px 24px;
  border-bottom: var(--border-color);
  border-left: var(--border-color);
  border-right: var(--border-color);
}

.portfolio-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin-top: 4px;

  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}
